.add-project-card {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new-project-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: none;

  cursor: pointer;

}
.add-new-project-button > svg {
  fill: rgb(48, 48, 48);

  transition: fill 0.5s;
}

.add-new-project-button:hover > svg {
  transform: scale(1.2);
}

.dark-theme .add-new-project-button > svg {
  fill: rgb(255, 255, 255);
}